.order {
	margin-top: 9rem;

	.estado {
		margin-top: 1rem;

		@media screen and (max-width: 768px) {
			margin-top: 2rem;
		}
	}

	.direccion {
		margin-top: 1rem;

		@media screen and (max-width: 768px) {
			margin-top: 2rem;
		}
	}

	.pago {
		margin-top: 1rem;

		@media screen and (max-width: 768px) {
			margin-top: 2rem;
		}
	}

	.total {
		text-align: right;
		margin-top: 1rem;

		@media screen and (max-width: 768px) {
			text-align: left;
			margin-top: 2rem;
		}
	}
}
