<ng-container *ngIf="(statsState$ | async) as state">
<section class="stats">
	<div class="container mt-2">
		<div class="container bootstrap snippets bootdey">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="mini-stat clearfix bg-facebook rounded">
						<span class="mini-stat-icon">
							<i class="fa-solid fa-user-group fg-facebook"></i>
						</span>
						<div class="mini-stat-info text-end">
							<span>{{ state?.appData?.data?.stats.totalUsuarios }}</span>
							Usuarios Totales
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="mini-stat clearfix bg-googleplus rounded">
						<span class="mini-stat-icon">
							<i class="fa-solid fa-receipt fg-googleplus"></i>
						</span>
						<div class="mini-stat-info text-end">
							<span>{{ state?.appData?.data?.stats.totalPedidos }}</span>
							Pedidos Totales
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="mini-stat clearfix bg-twitter rounded">
						<span class="mini-stat-icon">
							<i class="fa-solid fa-q fg-twitter"></i>
						</span>
						<div class="mini-stat-info text-end">
							<span>{{ state?.appData?.data?.stats.totalBilled | currency: 'Q' }}</span>
							Total Facturado
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="mini-stat clearfix bg-bitbucket rounded">
						<span class="mini-stat-icon">
							<i class="fa-solid fa-cart-shopping fg-bitbucket"></i>
						</span>
						<div class="mini-stat-info text-end">
							<span>{{ state?.appData?.data?.stats.totalProductos }}</span>
							Productos Totales
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</ng-container>
