<section class="stats">
	<div class="container mt-2">
		<div class="container bootstrap snippets bootdey">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="mini-stat clearfix bg-facebook rounded">
						<span class="mini-stat-icon">
							<i class="fa-solid fa-user-group fg-facebook"></i>
						</span>
						<div class="mini-stat-info text-end">
							<span>1</span>
							Total Customers
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="mini-stat clearfix bg-googleplus rounded">
						<span class="mini-stat-icon">
							<i class="fa-solid fa-receipt fg-googleplus"></i>
						</span>
						<div class="mini-stat-info text-end">
							<span>5</span>
							Total Invoices
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="mini-stat clearfix bg-twitter rounded">
						<span class="mini-stat-icon">
							<i class="fa-solid fa-dollar-sign fg-twitter"></i>
						</span>
						<div class="mini-stat-info text-end">
							<span>$580</span>
							Total Billed
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
