<ng-container *ngIf="(pedidoState$ | async) as state">
	<section class="pedidos-list">
		<div class="container">
			<div class="row mt-3 ps-3 pe-3">
				<div class="progress">
					<div
						class="progress-bar bg-success"
						role="progressbar"
						aria-valuenow=""
						aria-valuemin="0"
						aria-valuemax="100"
					>
						5%
					</div>
				</div>
				<div class="col">
					<h4 class="fw-bold text-start">Pedidos</h4>
				</div>
				<div class="col-xm-12 table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="text-center" scope="col">ID</th>
								<th scope="col">Realizado por</th>
								<th scope="col">Estado</th>
								<th scope="col">Dirección</th>
								<th scope="col">Método de Pago</th>
								<th scope="col">Acciones</th>
							</tr>
						</thead>
						<tbody class="table-body">
							<tr
								class="cell-1"
								*ngFor="
									let pedido of state?.appData?.data
										?.pedidos.content
								"
							>
								<th class="text-center">
									{{ pedido.idPedido }}
								</th>
								<td>
									{{
										pedido.direccion.nombre +
											' ' +
											pedido.direccion.apellido
									}}
								</td>
								<td>
									<span
										class="badge"
										[ngClass]="{
											'bg-warning':
												pedido.estado ===
												'Pendiente',
											'bg-primary':
												pedido.estado ===
												'En proceso',
											'bg-info':
												pedido.estado ===
												'En camino',
											'bg-success':
												pedido.estado ===
												'Entregado'
										}"
									>
									{{
										pedido.estado
									}}

								</span>
								</td>
								<td>{{ pedido.direccion.direccion + ', ' + pedido.direccion.municipio.nombre + ', ' + pedido.direccion.municipio.departamento.nombre }}</td>
								<td>{{ pedido.pago.metodoPago.tipo }}</td>
								<td>
									<button type="button" class="btn btn-info">
										<i class="fa-regular fa-eye"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>

					<nav
						*ngIf="
							state?.appData?.data?.pedidos.content.length > 0
						"
						aria-label="Page navigation example"
					>
						<ul class="pagination justify-content-center">
							<li
								[ngClass]="
									0 == (currentPage$ | async)
										? 'disabled'
										: ''
								"
								class="page-item"
							>
								<a
									(click)="goToNextOrPreviousPage('backward')"
									class="page-link"
									><i class="fa-solid fa-arrow-left"></i
								></a>
							</li>
							<li
								*ngFor="
									let pageNumber of [].constructor(
										state?.appData?.data?.pedidos
											.totalPages
									);
									let i = index
								"
								class="page-item"
							>
								<a
									class="page-link"
									(click)="goToPage(i)"
									[ngClass]="
										i == (currentPage$ | async)
											? 'active'
											: ''
									"
									>{{ i + 1 }}</a
								>
							</li>
							<li
								[ngClass]="
									state?.appData?.data?.pedidos.totalPages -
										1 ==
									(currentPage$ | async)
										? 'disabled'
										: ''
								"
								class="page-item"
							>
								<a
									(click)="goToNextOrPreviousPage('forward')"
									class="page-link"
									><i class="fa-solid fa-arrow-right"></i
								></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</section>
</ng-container>
