<ng-container *ngIf="cartState$ | async as cart">
	<ng-container *ngIf="homeState$ | async as state; else withoutUser">
		<app-navbar
			[usuario]="state?.appData?.data?.usuario"
			[carrito]="cart?.appData?.data?.carrito"
		></app-navbar>
	</ng-container>
	<ng-template #withoutUser>
		<app-navbar [carrito]="cart?.appData?.data?.carrito"></app-navbar>
	</ng-template>
	<app-hero></app-hero>
	<section class="container my-5">
		<div class="row">
			<!-- First Column -->
			<div class="col-md-4 col-sm-12 mt-4 mb-4 text-center">
				<div
					class="d-flex flex-column align-items-center justify-content-center mb-3"
				>
					<div class="mb-3">
						<i class="text-danger fas fa-spa fa-2x"></i>
					</div>
					<div>
						<h5>Plants Collection</h5>
						<p>Any plants for your space</p>
					</div>
				</div>
			</div>

			<!-- Second Column -->
			<div class="col-md-4 col-sm-12 mt-4 mb-4 text-center">
				<div
					class="d-flex flex-column align-items-center justify-content-center mb-3"
				>
					<div class="mb-3">
						<i class="text-danger fas fa-box fa-2x"></i>
					</div>
					<div>
						<h5>Free Shipping</h5>
						<p>Free shipping on order</p>
					</div>
				</div>
			</div>

			<!-- Third Column -->
			<div class="col-md-4 col-sm-12 mt-4 mb-4 text-center">
				<div
					class="d-flex flex-column align-items-center justify-content-center mb-3"
				>
					<div class="mb-3">
						<i class="text-danger fas fa-sync fa-2x"></i>
					</div>
					<div>
						<h5>100% Money Back</h5>
						<p>If the item didn't suit you</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<app-footer></app-footer>
</ng-container>
