.product-detail {
	margin-top: 9rem;
	position: relative;

	.card {
		border: none;
		overflow: hidden;
	}

	.thumbnail_images ul {
		list-style: none;
		justify-content: center;
		display: flex;
		align-items: center;
		margin-top: 10px;
	}

	.thumbnail_images ul li {
		margin: 5px;
		padding: 0;
		border: 2px solid #dfdfdf;
		cursor: pointer;
		transition: all 0.5s;
	}

	.thumbnail_images ul li:hover {
		border: 2px solid #343a40;
	}

	.main_image {
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid #eee;
		height: 400px;
		width: 100%;
		overflow: hidden;

		& img {
			max-width: 100%;
			max-height: 400px;
		}
	}

	.add-wish {
		text-decoration: none;

		&:hover {
			cursor: pointer;
		}
	}


	.heart {
		height: 29px;
		width: 29px;
		background-color: #eaeaea;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: baseline;


	}

	.active {
		color: red;
	}

	.content p {
		font-size: 12px;
	}
	.ratings span {
		font-size: 14px;
		margin-left: 12px;
	}
	.right-side {
		position: relative;
	}

	.back-button {
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: baseline;
		margin-left: 4rem;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background-color: rgba(248, 249, 250, 1);
		transition: background-color 0.3s ease-in;

		&:hover {
			background-color: rgba(206, 206, 206, 0.8);
		}
	}
}
