<ng-container *ngIf="productoState$ | async as state">
	<section class="productos-list">
		<div class="container">
			<div class="row mt-3 ps-3 pe-3">
				<div class="progress">
					<div
						class="progress-bar bg-success"
						role="progressbar"
						aria-valuenow=""
						aria-valuemin="0"
						aria-valuemax="100"
					>
						5%
					</div>
				</div>
				<div class="col">
					<h4 class="fw-bold text-start">Productos</h4>
				</div>
				<div class="col text-end">
					<a class="btn btn-outline-primary" [routerLink]="['/dashboard/producto/new']">Agregar producto</a>
				</div>
				<div class="col-xm-12 table-responsive mt-3">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="text-center" scope="col">ID</th>
								<th scope="col">SKU</th>
								<th scope="col">Producto</th>
								<th scope="col">Categoría</th>
								<th scope="col">Precio</th>
								<th scope="col">Descuento</th>
								<th scope="col">Stock</th>
								<th scope="col">Estado</th>
								<th scope="col">Acciones</th>
							</tr>
						</thead>
						<tbody class="table-body">
							<tr
								class="cell-1"
								*ngFor="
									let producto of state?.appData?.data
										?.productos.content
								"
							>
								<th class="text-center">
									{{ producto.idProducto }}
								</th>
								<td>
									{{ producto.sku }}
								</td>
								<td>
									{{ producto.nombre }}
								</td>
								<td>{{ producto.nombreCategoria }}</td>
								<td>{{ producto.precio }}</td>
								<td>{{ producto.descuento * 100 + "%" }}</td>
								<td>{{ producto.cantidad }}</td>
								<td>
									<span
										class="badge"
										[ngClass]="{
											'bg-success':
												producto.estado === true,
											'bg-danger':
												producto.estado === false
										}"
									>
										{{
											producto.estado === true
												? "Activo"
												: "Inactivo"
										}}
									</span>
								</td>
								<td>
									<button type="button" class="btn btn-info">
										<i class="fa-regular fa-eye"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>

					<nav
						*ngIf="
							state?.appData?.data?.productos.content.length > 0
						"
						aria-label="Page navigation example"
					>
						<ul class="pagination justify-content-center">
							<li
								[ngClass]="
									0 == (currentPage$ | async)
										? 'disabled'
										: ''
								"
								class="page-item"
							>
								<a
									(click)="goToNextOrPreviousPage('backward')"
									class="page-link"
									><i class="fa-solid fa-arrow-left"></i
								></a>
							</li>
							<li
								*ngFor="
									let pageNumber of [].constructor(
										state?.appData?.data?.productos
											.totalPages
									);
									let i = index
								"
								class="page-item"
							>
								<a
									class="page-link"
									(click)="goToPage(i)"
									[ngClass]="
										i == (currentPage$ | async)
											? 'active'
											: ''
									"
									disable
									>{{ i + 1 }}</a
								>
							</li>
							<li
								[ngClass]="
									state?.appData?.data?.productos.totalPages -
										1 ==
									(currentPage$ | async)
										? 'disabled'
										: ''
								"
								class="page-item"
							>
								<a
									(click)="goToNextOrPreviousPage('forward')"
									class="page-link"
									><i class="fa-solid fa-arrow-right"></i
								></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</section>
</ng-container>
