<ng-container *ngIf="clienteState$ | async as state">
	<section>
		<div class="container">
			<div class="row mt-3 ps-3 pe-3">
				<div class="col">
					<h4 class="fw-bold text-start">Usuarios</h4>
				</div>
				<div class="col text-end">
					<a class="btn btn-outline-primary" [routerLink]="['/dashboard/producto/new']">Agregar usuario</a>
				</div>
				<div class="col-xm-12 table-responsive mt-3">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="text-center" scope="col">ID</th>
								<th scope="col">Foto de Perfil</th>
								<th scope="col">Nombre</th>
								<th scope="col">Email</th>
								<th scope="col">Teléfono</th>
								<th scope="col">Estado</th>
								<th scope="col">Tipo</th>
								<th scope="col">Acciones</th>
							</tr>
						</thead>
						<tbody class="table-body">
							<tr
								class="cell-1"
								*ngFor="
									let usuario of state?.appData?.data
										?.clientes.content
								"
							>
								<th class="text-center">
									{{ usuario.idUsuario }}
								</th>
								<td>
									<img
										[src]="usuario.urlFoto"
										width="42"
										height="42"
										class="rounded-circle"
										alt="Avatar"
									/>
								</td>
								<td>
									{{
										usuario.nombre + " " + usuario.apellido
									}}
								</td>
								<td>{{ usuario.email }}</td>
								<td>{{ usuario.telefono }}</td>
								<td>
									<span
										class="badge"
										[ngClass]="{
											'bg-success': usuario.estado === true,
											'bg-danger': usuario.estado === false
										}"
									>
										{{ usuario.estado === true ? 'Activo' : 'Inactivo' }}
									</span>
								</td>
								<td>{{ usuario.rol !== 'ROL_USUARIO' ? 'Admin' : 'Usuario' }}</td>
								<td>
									<button type="button" class="btn btn-info">
										<i class="fa-regular fa-eye"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>

					<nav
						*ngIf="
							state?.appData?.data?.clientes.content.length > 0
						"
						aria-label="Page navigation example"
					>
						<ul class="pagination justify-content-center">
							<li
								[ngClass]="
									0 == (currentPage$ | async)
										? 'disabled'
										: ''
								"
								class="page-item"
							>
								<a
									(click)="goToNextOrPreviousPage('backward')"
									class="page-link"
									><i class="fa-solid fa-arrow-left"></i
								></a>
							</li>
							<li
								*ngFor="
									let pageNumber of [].constructor(
										state?.appData?.data?.clientes
											.totalPages
									);
									let i = index
								"
								class="page-item"
							>
								<a
									class="page-link"
									(click)="goToPage(i)"
									[ngClass]="
										i == (currentPage$ | async)
											? 'active'
											: ''
									"
									>{{ i + 1 }}</a
								>
							</li>
							<li
								[ngClass]="
									state?.appData?.data?.clientes.totalPages -
										1 ==
									(currentPage$ | async)
										? 'disabled'
										: ''
								"
								class="page-item"
							>
								<a
									(click)="goToNextOrPreviousPage('forward')"
									class="page-link"
									><i class="fa-solid fa-arrow-right"></i
								></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</section>
</ng-container>
