.home-navbar {
	background: none !important;
	z-index: 100;
	border-bottom: none !important;
}

.expanded-navbar {
	background-color: #f8f9faff !important;
	border-bottom: 1px solid var(--bs-gray-300) !important;
}

.navbar {
	z-index: 999;

	// Media Query para dispositivos móviles y tabletas
	@media (max-width: 992px) {
		position: fixed !important;
	}

	&.scrolled {
		@media (max-width: 992px) {
			background-color: #f8f9faff !important;
			transition: background-color 0.1s ease-in;
			border-bottom: 1px solid var(--bs-gray-300) !important;
		}
	}
}
